.About{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.div-photo{
    display: flex;
    justify-content: start;
}

.profile-photo{
    width: 5%;
}

.Descripcion{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: transparent;
    text-align: left;
}

.h1{
    font-family: 'Cormorant', serif;
    font-size: 30px;
    margin: 0;
}

.light{
    font-weight: 300;
}

.rose{
    color: #FFCAE7;
}

.p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin: 0;
}

.title {
    font-family: 'Cormorant', serif;
    font-size: 20px;
}