.About{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    max-width: 400px;
}

.div-photo{
    display: flex;
    justify-content: start;
}

.profile-photo{
    width: 100%;
    height: auto;
}

.Descripcion{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: transparent;
    text-align: left;
    max-width: 350px;
}

.h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 0;
}

.light{
    font-weight: 200;
}

.rose{
    color: #f5b5d8;
}

.p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 200;
    font-size: 14px;
    margin: 0;
    line-height: 19px;
}

.title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-size: 18px;
}

.padding-bottom{
    padding-bottom: 20px;
}

.div-img{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.profile-img {
    width: 200px;
    height: 150px;
    position: absolute;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .Descripcion{
        max-width: 80%;
    }

    .profile-img{
        padding-top: 280px;
    }

    .padding-bottom{
        padding-bottom: 50px;
    }
}