.About{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.div-photo{
    display: flex;
    justify-content: start;
}

.profile-photo{
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.Descripcion{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: transparent;
    text-align: left;
    max-width: 350px;
}

.h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 0;
}

.light{
    font-weight: 400;
}

.rose{
    color: #f5b5d8;
}

.p {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 10px;
    margin: 0;
    line-height: 19px;
}

.title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 0;
}

.padding-bottom{
    padding-bottom: 30px;
}

.padding-title{
    padding-top: 20px;
}

.div-img{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.profile-img {
    width: 180px;
    height: 150px;
    position: absolute;
    z-index: -1;
}

.small{
    max-width: 300px;
}

@media only screen and (max-width: 600px) {
    .Descripcion{
        max-width: 80%;
        padding-top: 40px;
    }

    .profile-img{
        width: 180px;
    }

    .padding-bottom{
        padding-bottom: 50px;
    }
}