.Portfolio{
}

.boton-visitar{
}

.bullet {
    font-size: 6px;
    padding-right: 10px;
}

.link {
    font-size: 8px;
    padding-left: 5px;
}

.skill-p{
    margin-right: 0.4rem;    
}

.padding-bottom-item {
    padding-bottom: 8px;
}

.small-font{
    font-size: 11px;
}

.button {
    background-color: black;
    border: 0.5px solid #f5b5d8;
    color: #f5b5d8;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 8px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s;
    font-family: 'Crimson Pro', serif;
}

.button:hover{
    background-color: #f5b5d8;
    color: black;
}

.button:hover .rose{
    color: black;
}