.App {
    padding: 0% 9% 9% 9%;
}

.Links {
    padding: 3% 0;
}

.Container{
    display: flex;
}

.col1 {
    width: 50%;
    padding-right: 4.5%;
    display: flex;
    flex-direction: column;
}

.col2 {
    width: 50%;
    padding-left: 4.5%;
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.icon {
    padding-left: 10px;
}

a {
    color: #FFCAE7;
    transition: 0.5s;
}

a:active{
    color: white;
}

a:hover {
    color: white;
}

@media only screen and (max-width: 600px) {
    .App {
        padding: 0;
        width: 100%;
    }

    .Container{
        flex-direction: column;
    }

    .col1{
        width: auto;
        padding-right: 0;
        padding: 0% 2% 15% 2%;
    }

    .Links{
        padding: 10% 2%;
    }

    .col2{
        width: auto;
        padding-left: 0;
        padding: 0% 2% 15% 2%;
        background-color: white;
        color: black;
    }
}