.App {
}

.Links {
    padding: 5% 0;
    padding-left: 12%;
    padding-right: 12%;
}

.Container{
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.icon {
    padding-left: 10px;
}

a {
    color: #ff6a8cd9;
    transition: 0.5s;
}

a:active{
    color: #ff6a8cd9;
}

a:hover {
    color: #021558;
}

@media only screen and (max-width: 600px) {
    .App {
        padding: 0;
    }

    .Container{
        flex-direction: column;
    }

    .Links{
        padding: 10% 5%;
    }

    .icons {
        
    }

    .col2{
        width: auto;
        padding-left: 0;
        padding: 15% 2% 15% 2%;
        background-color: white;
        color: black;
    }
}