@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,500;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;1,300&display=swap');

body {
  margin: 0;
  font-family: 'Crimson Pro', serif;
  background-color: black;
  color: white;
  letter-spacing: 0.04em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
