@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  background-color: rgb(5, 0, 14);
  color: white;
  font-size: 12px;
  line-height: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
